<div class="wrapper">
	<div class="about-words">
		<div class="user-details" id="about-text" style="margin-left: 10%; margin-right: 10%;">
  			<h1 style="font-size: 200%;"><br />Your story has the power to get through. Let's tell it.<br /></h1>
  			<h2>Only <i>authentic</i> stories get through the noise of today's online marketplace. That's why I'm passionate about crafting videos that connect your market with your brand on an emotional level.</h2>
		</div>
		  <!--div class="header-links" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
			<a class="link" href="#work" data-scroll>VIEW MY WORK</a>
			<a class="link3" aria-label="Send email" href="mailto:{{ site.email }}">Email Me</a>
		  </div-->
		<div>
			<p><br /></p>
		</div>
	</div>
	<div class="about-video"><iframe src="https://player.vimeo.com/video/1022221300?h=55b5797289&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Light Filled Home - Brand Video"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>
<!--div class="header-links" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
	<a class="link2" aria-label="Send email" href="mailto:{{ site.email }}">EMAIL ME</a>
</div-->
<!--div class="spacera" id="work">
</div>
<div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/855115095?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Light Filled Home - Brand Video"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/966373150?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LaFollette Custom Homes - VR Promo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1006433251?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AkzoNobel Testimonial"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/883410169?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Still Creek - for Fundraising Event"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/910488669?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Melrose Indiana - Recruiting Ad"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/877687244?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Nations Doorways - Brand Video for Ministry Market"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/868186271?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Melrose College Station - (mid-construction) Marketing Teaser"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/858895431?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Kingdom Barber Studio - Brand Video"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/843596680?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Aila's Cakery"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="spacer1">
  <img src="/assets/img/whiteblank.png">
  </div>

<div class="why-video">
  <h1>Videos are the king of digital ads.</h1>
  <p>Did you know that videos hold the highest click-through-rate of all digital ad formats?</p>
  <h1>Google loves videos.</h1>
  <p>You’re 53 times more likely show up first on Google if you have a video embedded on your website, according to Moovly.</p>
  <h1>Videos are the golden ticket for SEO.</h1>
  <p>If you want people to see you at the top of a search, there's no better way than to be regularly uploading quality videos across platforms: blogs, social, Youtube, etc. Google prefers to put videos first in its search results, especially videos that are tagged well and have community engagement in the comments.</p>
  <h1>Brand engagement relies on video.</h1>
  <p>Your prospective customers are already watching someone... Is it you? Videos are the best way to create a personal connection with your market. That's why they're the top vehicle for converting digital marketing into customers.</p>
  <h1>Videos are the #1 factor in conversions.</h1>
  <p>According to the <a href="https://www.insivia.com/2023-saas-marketing-report/">Insivia 2023 SaaS Marketing Report</a>, adding a product video on your landing page can increase conversions by 80-86%.</p>
  <h1>Let's work together to get customers through your door.</h1>
</div>
<div class="header-links" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
	<a class="link3" aria-label="Send email" href="mailto:{{ site.email }}">Email Me</a>
</div-->

<!--div class="header-links" style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
	<a class="link2" aria-label="Send email" href="mailto:{{ site.email }}">EMAIL ME</a>
</div-->
