<footer class="footer">
<div class="footer-shrink" style="margin-top: 30px;">
<img class="white-logo" src="/assets/img/SIVS-logo.svg" style="height:45px; vertical-align: text-top; padding-right:10px">
</div>
<div class="footer-shrink" style="margin-top: 30px;">
<b>Contact Us:<br></b>
    <!--p>&copy; Sam Isenhower</p-->
		
		<a aria-label="Send email" href="mailto:video@samisenhower.com"><!--i class="icon fa fa-envelope" style="font-size: 20px;"></i-->video@samisenhower.com</a>
		
		<!--p>
		<p style="margin-top:0; margin-bottom:0;"><br/></p>
		
		<br/><a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/sam.isenhower"><i class="icon fa fa-instagram" style="font-size: 20px;" aria-hidden="true"></i></a>
		
		</p-->
</div>
<div style="margin-top: 30px; margin-bottom: 30px;">
<span style="font-size: 70%;">© 2025 Sam Isenhower Visual Storytelling. All rights reserved.</span>
</div>
</footer>

<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>