<div id="top-wrapper">
	<video title="Sam Isenhower College Station digital media marketing freelance videographer" poster="/assets/video/showreel_poster.webp" autoplay muted loop playsinline id="showreel">
		  <source src="/assets/video/showreel.webm" type="video/webm"/>
	</video>
	<div id="header-intro">
	  <div class="top">
	  <p><span style="letter-spacing: .01em; font-style: normal; font-size: 25px;"><img src="/assets/img/bizcard2.png" style="height:45px; vertical-align: text-top;">am <span style="font-weight: 400;">isenhower</span></span></p>
	  <!--img src="/assets/img/logo.webp" style="height:18px; margin-top: 40px;"-->
	  </div>
	  <div class="middle">
		  <h1>
			<!-- img src="/assets/img/noise.gif" style="height: 47px; margin-right: 7px; margin-bottom: 0;"-->
			Get through <span class="line-breaker">the noise</span><br />to the person
			<!-- span class="site-description" style="margin-top: 18px;">{{ site.user_title }}</span -->
		  </h1>
		  <h2>Only <i>authentic stories</i> get through the noise of today's online marketplace. That's why I'm passionate about harnessing the power of visual storytelling to help your brand connect with your market on an emotional level.</h2>
		  <div class="header-links">
			<!-- a class="link" href="#portfolio" data-scroll>VIEW MY WORK</a -->
			<a class="link" aria-label="Send email" href="mailto:{{ site.email }}">Let's Chat</a>
		  </div>
	  </div>
	  <!-- div class="scroll-hint"></div -->
	  <!-- div class="header-icons">
		{% if site.email %}
		<a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i>&#160&#160&#160&#160</a>
		{% endif %}
		{% if site.twitter_username %}
		<a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
		{% endif %}
		{% if site.instagram_username %}
		<a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}"><i class="icon fa fa-instagram" aria-hidden="true"></i>&#160&#160&#160&#160</a>
		{% endif %}
		{% if site.facebook_username %}
		<a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i>&#160&#160&#160&#160</a>
		{% endif %}
		{% if site.linkedin_username %}
		<a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i>&#160&#160&#160&#160</a>
		{% endif %}
		{% if site.youtube_username %}
		<a aria-label="My YouTube" target="_blank" href="https://youtube.com/@{{ site.youtube_username }}"><i class="icon fa fa-youtube" aria-hidden="true"></i>&#160&#160&#160&#160</a>
		{% endif %}
		{% if site.vimeo_username %}
		<a aria-label="My Vimeo" target="_blank" href="https://vimeo.com/{{ site.vimeo_username }}"><i class="icon fa fa-vimeo" aria-hidden="true"></i>&#160&#160&#160&#160</a>
		{% endif %}
	  </div -->
	</div>
</div>
