<!--div style="padding:56.25% 0 0 0;position:relative; margin-left: 1%; margin-right: 1%;"><iframe src="https://player.vimeo.com/video/855115095?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Light Filled Home - Brand Video"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script-->
<h1 style="margin-bottom: 1.5em; margin-top: 2em;">Featured Recent Work</h1>
<div id="portfolio-row">
  <div class="flex-video"><div id="hover-image"></div><div id="poster-image"></div><iframe src="https://player.vimeo.com/video/855115095?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Light Filled Home - Brand Video"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="flex-video"><div id="hover-image2"></div><div id="poster-image2"></div><iframe src="https://player.vimeo.com/video/966373150?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LaFollette Custom Homes - VR Promo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>
<div id="portfolio-row">
  <div class="flex-video"><div id="hover-image3"></div><div id="poster-image3"></div><iframe src="https://player.vimeo.com/video/1006433251?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AkzoNobel Testimonial"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="flex-video"><div id="hover-image4"></div><div id="poster-image4"></div><iframe src="https://player.vimeo.com/video/883410169?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Still Creek - for Fundraising Event"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>
<div id="portfolio-row">
  <div class="flex-video"><div id="hover-image5"></div><div id="poster-image5"></div><iframe src="https://player.vimeo.com/video/910488669?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Melrose Indiana - Recruiting Ad"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <div class="flex-video"><div id="hover-image6"></div><div id="poster-image6"></div><iframe src="https://player.vimeo.com/video/877687244?badge=0&amp;autopause=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Nations Doorways - Brand Video for Ministry Market"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>

<script>
// Fade in videos
const elementsToFadeInUpOnScroll = document.querySelectorAll(".flex-video");
if (elementsToFadeInUpOnScroll) {
  window.addEventListener("scroll", function(event) {
    elementsToFadeInUpOnScroll.forEach(function(element) {
      if (window.scrollY >= (element.offsetTop - window.innerHeight)) {
        element.classList.add("fade-in-up");
      } else {
        element.classList.remove("fade-in-up");
      }
    });
  });
}

//Remove thumbnail on click
document.getElementById("hover-image").onclick = function() { movePoster() };
document.getElementById("hover-image2").onclick = function() { movePoster2() };
document.getElementById("hover-image3").onclick = function() { movePoster3() };
document.getElementById("hover-image4").onclick = function() { movePoster4() };
document.getElementById("hover-image5").onclick = function() { movePoster5() };
document.getElementById("hover-image6").onclick = function() { movePoster6() };

function movePoster() {
  document.getElementById("poster-image").style.visibility = "hidden";
  document.getElementById("hover-image").style.visibility = "hidden";
}
function movePoster2() {
  document.getElementById("poster-image2").style.visibility = "hidden";
  document.getElementById("hover-image2").style.visibility = "hidden";
}
function movePoster3() {
  document.getElementById("poster-image3").style.visibility = "hidden";
  document.getElementById("hover-image3").style.visibility = "hidden";
}
function movePoster4() {
  document.getElementById("poster-image4").style.visibility = "hidden";
  document.getElementById("hover-image4").style.visibility = "hidden";
}
function movePoster5() {
  document.getElementById("poster-image5").style.visibility = "hidden";
  document.getElementById("hover-image5").style.visibility = "hidden";
}
function movePoster6() {
  document.getElementById("poster-image6").style.visibility = "hidden";
  document.getElementById("hover-image6").style.visibility = "hidden";
}
</script>