<div class="user-details" id="about-text">
  <h2><br /><br /><br />Video types that my clients have found to be most effective:</h2>
  <div id="icons-container">
	<div class="icons-columnB">
		<img src="../assets/img/icons_testimonials_white.webp" style="width:80px">
		<h2>Testimonials</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_brand_white.webp" style="width:80px">
		<h2>Brand Videos</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_socials_white.webp" style="width:80px">
		<h2>Social Media</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_ads_white.webp" style="width:80px">
		<h2>Ads</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_recruiting_white.webp" style="width:80px">
		<h2>Recruiting</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
	<div class="icons-columnB">
		<img src="../assets/img/icons_fundraiser_white.webp" style="width:80px">
		<h2>Fundraiser</h2>
		<p>This is a description of what this is and something about its value.</p>
	</div>
  </div>
</div>
<div>
<p><br /><br /></p>
</div>