<div id="navbar2">
  <a class="link2" href="mailto:{{ site.email }}"><img src="/assets/img/email_icon3.webp" alt="EmailMe" width="110px" height="42px"></a>
</div>
<div class="user-details" id="about-text">
  <!--h2 style="color: #fff;"><br /><br /><br />Video types that my clients have found most effective:<br /><br /></h2-->
  <h2><br /><br /><br /></h2>
  <div id="icons-container">
  	<div class="hover-boxB" onMouseOver="show('testimonials-description'); hide('testimonials-see-more'); hoverTestimonials(); Tborder()" onMouseOut="hide('testimonials-description'); show('testimonials-see-more'); unhoverTestimonials()">
		<div id="Tbox" class="icons-columnB">
			<div class="icon-wrapper">
				<div id="covergif1"></div>
				<img id="testimonials-icon" class="icon" src="../assets/img/icons_testimonials_white.webp">
			</div>
			<h2>Testimonials</h2>
			<p id="testimonials-see-more" class="see-more">No one sells your business better than your satisfied customers, esp...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
			<p id="testimonials-description" class="service-description">No one sells your business better than your satisfied customers, especially when their story is told in a way that’s immersive and personal. Testimonial proof is your ultimate weapon. These videos work seriously well everywhere your business shows its face online.</p>
		</div>
	</div>
	<div class="hover-boxA" onMouseOver="show('brand-description'); hide('brand-see-more'); hoverBrand()" onMouseOut="hide('brand-description'); show('brand-see-more'); unhoverBrand()">
		<div id="Bbox" class="icons-columnA">
			<div class="icon-wrapper">
				<div id="covergif2"></div>
				<img id="brand-icon" class="icon" src="../assets/img/icons_brand_white.webp">
			</div>
			<h2>Brand Videos</h2>
			<p id="brand-see-more" class="see-more">Brand videos are worth their weight in gold. In less than 3 minutes,...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
			<p id="brand-description" class="service-description">Brand videos are worth their weight in gold. In less than 3 minutes, you go from a faceless entity to someone visitors know, like, and trust. These perform really well on your homepage, your About page, and chopped up for social media and email distribution.</p>
		</div>
	</div>
	<div class="hover-boxA" onMouseOver="show('ads-description'); hide('ads-see-more'); hoverAds()" onMouseOut="hide('ads-description'); show('ads-see-more'); unhoverAds()">
	<div id="Abox" class="icons-columnA">
		<div class="icon-wrapper">
			<div id="covergif4"></div>
			<img id="ads-icon" class="icon" src="../assets/img/icons_ads_white.webp">
		</div>
		<h2>Ads</h2>
		<p id="ads-see-more" class="see-more">One thing remains constant amidst ever-evolving algorithms and trend...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
		<p id="ads-description" class="service-description">One thing remains constant amidst ever-evolving algorithms and trending strategies: video ads consistently deliver the highest click-through rates of any digital format, especially when optimized to perform wherever they appear.</p>
	</div>
	</div>
	<div class="hover-boxA" onMouseOver="show('social-description'); hide('social-see-more'); hoverSocial()" onMouseOut="hide('social-description'); show('social-see-more'); unhoverSocial()">
	<div id="Sbox" class="icons-columnA">
		<div class="icon-wrapper">
			<div id="covergif3"></div>
			<img id="social-icon" class="icon" src="../assets/img/icons_socials_white.webp">
		</div>
		<h2>Social + YouTube</h2>
		<p id="social-see-more" class="see-more">When done right, these are vital for the online presence of your bra...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
		<p id="social-description" class="service-description">When done right, these are vital for the online presence of your brand voice, while leading new eyes progressively down the funnel to conversion. There’s also no more effective way to educate your market at scale and position yourself as the helpful authority.</p>
	</div>
	</div>
	<div class="hover-boxA" onMouseOver="show('recruiting-description'); hide('recruiting-see-more'); hoverRecruiting()" onMouseOut="hide('recruiting-description'); show('recruiting-see-more'); unhoverRecruiting()">
	<div id="Rbox" class="icons-columnA">
		<div class="icon-wrapper">
			<div id="covergif5"></div>
			<img id="recruiting-icon" class="icon" src="../assets/img/icons_recruiting_white.webp">
		</div>
		<h2>Recruiting</h2>
		<p id="recruiting-see-more" class="see-more">Attract top talent who share your values and want to be part of what...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
		<p id="recruiting-description" class="service-description">Attract top talent who share your values and want to be part of what you’re building. Nothing does this better than a strategically placed recruiting video. By showing off your company culture and what makes you different, you get to build the dream team that you want.</p>
	</div>
	</div>
	<div class="hover-boxB" onMouseOver="show('fundraising-description'); hide('fundraising-see-more'); hoverFundraising()" onMouseOut="hide('fundraising-description'); show('fundraising-see-more'); unhoverFundraising()">
	<div id="Fbox" class="icons-columnB">
		<div class="icon-wrapper">
			<div id="covergif6"></div>
			<img id="fundraising-icon" class="icon" src="../assets/img/icons_fundraiser_white.webp">
		</div>
		<h2>Fundraising</h2>
		<p id="fundraising-see-more" class="see-more">By stirring the hearts of donors and investors with real stories of ...<br /><span class="read-more">Read More</span><img class="more-arrow" src="../assets/img/down-arrow.webp" /></p>
		<p id="fundraising-description" class="service-description">By stirring the hearts of donors and investors with real stories of impact, you not only show the worthiness of your mission. You gain long-term partners. Whether for fundraising events or ongoing donor outreach, emotionally gripping videos are invaluable.</p>
	</div>
	</div>
  </div>
</div>
<div>
<p><br /><br /></p>
</div>

<script>
//Remove cover gifs after 1s
//setTimeout(function(){ document.getElementById("covergif1").style.visibility = "hidden"; document.getElementById("covergif2").style.visibility = "hidden"; document.getElementById("covergif3").style.visibility = "hidden"; document.getElementById("covergif4").style.visibility = "hidden"; document.getElementById("covergif5").style.visibility = "hidden"; document.getElementById("covergif6").style.visibility = "hidden";}, 1000);

// Animate icons on scroll
const iconsToFadeInUpOnScroll = document.querySelectorAll(".icon");
if (iconsToFadeInUpOnScroll) {
  window.addEventListener("scroll", function(event) {
    iconsToFadeInUpOnScroll.forEach(function(element) {
      if (window.scrollY >= (element.offsetTop - window.innerHeight)) {
        element.classList.add("fade-in-up-icons");
      } else {
        element.classList.remove("fade-in-up-icons");
      }
    });
  });
}

//Reveal descriptions on hover
  function show(id) {
    document.getElementById(id).style.display = "block";
  }
  function hide(id) {
    document.getElementById(id).style.display = "none";
  }
  function hoverTestimonials() {
    document.getElementById("testimonials-icon").src="../assets/img/icons_testimonials_yellow.webp";
    document.getElementById('Tbox').style.borderColor = "#f8d260";
  }
  function unhoverTestimonials() {
    document.getElementById("testimonials-icon").src="../assets/img/icons_testimonials_white.webp";
    document.getElementById('Tbox').style.borderColor = "#fff";
  }
  function hoverBrand() {
    document.getElementById("brand-icon").src="../assets/img/icons_brand_yellow.webp";
    document.getElementById('Bbox').style.borderColor = "#f8d260";
  }
  function unhoverBrand() {
    document.getElementById("brand-icon").src="../assets/img/icons_brand_white.webp";
    document.getElementById('Bbox').style.borderColor = "#fff";
  }
  function hoverSocial() {
    document.getElementById("social-icon").src="../assets/img/icons_socials_yellow.webp";
    document.getElementById('Sbox').style.borderColor = "#f8d260";
  }
  function unhoverSocial() {
    document.getElementById("social-icon").src="../assets/img/icons_socials_white.webp";
    document.getElementById('Sbox').style.borderColor = "#fff";
  }
  function hoverAds() {
    document.getElementById("ads-icon").src="../assets/img/icons_ads_yellow.webp";
    document.getElementById('Abox').style.borderColor = "#f8d260";
  }
  function unhoverAds() {
    document.getElementById("ads-icon").src="../assets/img/icons_ads_white.webp";
    document.getElementById('Abox').style.borderColor = "#fff";
  }
  function hoverRecruiting() {
    document.getElementById("recruiting-icon").src="../assets/img/icons_recruiting_yellow.webp";
    document.getElementById('Rbox').style.borderColor = "#f8d260";
  }
  function unhoverRecruiting() {
    document.getElementById("recruiting-icon").src="../assets/img/icons_recruiting_white.webp";
    document.getElementById('Rbox').style.borderColor = "#fff";
  }
  function hoverFundraising() {
    document.getElementById("fundraising-icon").src="../assets/img/icons_fundraiser_yellow.webp";
    document.getElementById('Fbox').style.borderColor = "#f8d260";
  }
  function unhoverFundraising() {
    document.getElementById("fundraising-icon").src="../assets/img/icons_fundraiser_white.webp";
    document.getElementById('Fbox').style.borderColor = "#fff";
  }
  
  //Email widget
const EmailMeButton = document.querySelectorAll("#brand-icon");
if (EmailMeButton) {
  window.addEventListener("scroll", function(event) {
    EmailMeButton.forEach(function(element) {
      if (window.scrollY >= (element.offsetTop - window.innerHeight)) {
        x = document.getElementById("navbar2");
   		x.style.right = "25px";
      } else {
        y = document.getElementById("navbar2");
    	y.style.right = "-120px";
      }
    });
  });
}
</script>