<div class="user-details" id="about-text">
  <h2><br /><br /><br />Video types that my clients have found most effective:</h2>
  <div id="icons-container">
	<div class="icons-columnB">
		<img src="../assets/img/icons_testimonials_white.webp" style="width:80px">
		<h2>Testimonials</h2>
		<p>These are your ultimate weapon. No one sells your business better than your satisfied customers, especially when their story is told in a way that’s immersive and personal. Testimonial videos work seriously well everywhere your business shows its face online.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_brand_white.webp" style="width:80px">
		<h2>Brand Videos</h2>
		<p>A great brand video on your website converts every visitor to someone who feels they know, like, and trust you. In less than 3 minutes you go from a faceless entity to someone they want to do business with. That’s why brand videos are worth their weight in gold.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_socials_white.webp" style="width:80px">
		<h2>Social Media</h2>
		<p>Quick, eye-catching, and packed with value—these videos are built for fast scrolling and short attention spans. When done right, they’re one of the best ways to get new eyes on your business while also leading them progressively down the funnel to conversion.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_ads_white.webp" style="width:80px">
		<h2>Ads</h2>
		<p>Advertising is evolving at a mind-boggling rate, with advanced targeting and ever-changing strategies across platforms. One thing remains constant: video ads consistently deliver the highest click-through rates, especially when optimized to perform wherever they appear.</p>
	</div>
	<div class="icons-columnA">
		<img src="../assets/img/icons_recruiting_white.webp" style="width:80px">
		<h2>Recruiting</h2>
		<p>These show off your company’s personality and culture, giving potential employees a sneak peek at what makes your team special. They’re the perfect tool for attracting top talent who share your values and want to be part of something bigger.</p>
	</div>
	<div class="icons-columnB">
		<img src="../assets/img/icons_fundraiser_white.webp" style="width:80px">
		<h2>Fundraising</h2>
		<p>There are countless worthy causes, but only a select number of those grab our hearts to make us personally and financially invested. By stirring the hearts of donors and investors with real stories of impact, you not only show the worthiness of your mission. You gain long-term partners.</p>
	</div>
  </div>
</div>
<div>
<p><br /><br /></p>
</div>