#top-wrapper {
  display: flex;
  flex-wrap:wrap;
  min-height: 100vh;
}

#particles-js {
 flex-basis: 100%;
 background: url("/assets/img/BWprofile.png");
 background-size: cover;
 background-position: center;
 min-height: 50vh;
}

@media screen and (min-width:700px){
#particles-js {
 flex-basis: 50%;
 min-height: 100vh;
 }
 #top-wrapper{
 flex-wrap:unset;
 }
 #header-intro{
 xflex-basis: 50%;
 }
}

@font-face {
    font-family: BOOKmanOpti-Light;
    src: url("/assets/fonts/BOOKmanOpti-Light.otf") format("opentype");
}

@font-face {
    font-family: TraditionellSans;
    src: url("/assets/fonts/TraditionellSans.ttf");
}

@font-face {
    font-family: TraditionellSansBold;
    src: url("/assets/fonts/TraditionellSans-Bold.ttf");
}

@font-face {
    font-family: BebasNeueProItalic;
    src: url("/assets/fonts/BebasNeueProItalic.otf") format("opentype");
}


#header-intro {
  font-family: 'TraditionellSans','Montserrat', sans-serif;
  z-index: 1;
  text-align: center;
  color:#FFF;
  background-color: #FFF;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

#header-intro h1 {
margin: 0;
padding: 0;
}

#header-intro .site-title {
	font-size: 26px;
	display: block;
	line-height: 1;
	color: #302729;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2em;
}
#header-intro .site-description {
	font-size: 13.5px;
	display: block;
	line-height: 1;
	color: #ab9b8a;
	margin-top: 25px;
	margin-bottom: 24px;
	letter-spacing: .27em;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 400;
	font-style: italic;
}

#header-intro .top{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;
	display: block;
	line-height: 1.8;
	color: #0f0b0c;
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	letter-spacing: -.001em;
}

#header-intro .middle{
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content:center;
margin-top: 0;
margin-bottom: 43px;

}



#header-intro .bottom{
margin-top: auto;
margin-bottom: auto;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 13px;
  margin-right: 2px;
}

.header-icons a {
    // no borders
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    padding: none;
    margin: none;
    text-decoration: none;
  }
.header-icons .icon {
    text-align: center;
    color: #ab9b8a;
    width: 0px;
    height: 20px;
    font-size: 14px;
    padding: 5px;
    margin: 0px;
    transition: all .5s;
    border: 0;
    }
    .header-icons:hover {
      color: #ff0000;
      xbackground: #000;
    }
    .header-icons:active {
      color: #ff0000;
      /* background: #000; */
    }
    


@media only screen and (min-width:768px) {
.header-icons .icon {
      width: 0px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      }
}

.header-links .link {
	color:#302729;
	border-style: solid;
	border-color: #302729;
	border-width: 2px;
	padding: 9px 9px;
	letter-spacing: .28em;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 11px;
	margin-right: 14px;
}

.header-links .link:hover {
color: #fff;
background-color: #302729;
}

.header-links .link2 {
	color:#302729;
	border-style: solid;
	border-color: #f53416;
	border-width: 2px;
	padding: 9px 9px;
	letter-spacing: .28em;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin-right: 14px;
	text-decoration: none;
}

.header-links .link2:hover {
color: #fff;
background-color: #f53416;
}

.user-details h1 {
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
}

.spacera {
margin-top: 1%;
}

@media screen and (min-width:768px){
.spacera {
margin-top: 9%;
}
}

.spacer1 img {
width: 20px;
}

.spacer {
margin-top: 30px;
}

#about {
max-width: 10000px;
} 


#tagline .top{
	margin-top: 100px;
	text-align: center;
	font-size: 27px;
	display: block;
	line-height: 1;
	color: #374f51;
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	xletter-spacing: -1px;
}

#header .top{
	margin-top: 100px;
	text-align: center;
	font-size: 27px;
	display: block;
	line-height: 1;
	color: #374f51;
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	xletter-spacing: -1px;
}

.bgc {
background-color: #d5d7d5;
}

.vjs-big-play-button {
	opacity: 0 !important;
}

.video-js:hover .vjs-big-play-button {
	opacity: 1 !important;
}

.why-video {
  text-align: center;
  margin: 5px auto;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 95%;
  h1 {
    font-weight: 400;
  }
}

.why-video h1 {
    font-size: 150%;
    margin-top: 3em;
}

.why-video a {
color: #302729;
font-weight: 500;
}
