#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100vw;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#top-wrapper {
  display: flex;
  flex-wrap:wrap;
}

#portfolio {
  width: 90%;
  margin:0 auto;
  font-family: "proxima-nova", sans-serif;
  background-color: #FFF;
  xbackground-color: #d5d7d5;
}

#portfolio h1 {
  text-align: center;
}

#portfolio-row {
  display: flex;
  flex-direction: row;
  xtext-align: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

#portfolio-row .flex-video {
  padding: 56.25% 0 0 0;
  position:relative;
  flex: 50%;
  border-radius: .75rem;
  overflow: hidden;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Portfolio fade in */

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up {
  animation: 0.75s both fadeInUp;
}

/* Portfolio Thumbnails */

#poster-image {
background: url('/assets/video/thumbnail_LFH.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image {
  background: url('/assets/video/thumbnail_LFH_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image:hover {
  opacity: 1;
}

#poster-image2 {
background: url('/assets/video/thumbnail_LFCH.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image2 {
  background: url('/assets/video/thumbnail_LFCH_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image2:hover {
  opacity: 1;
}

#poster-image3 {
background: url('/assets/video/thumbnail_AkzoNobel.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image3 {
  background: url('/assets/video/thumbnail_AkzoNobel_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image3:hover {
  opacity: 1;
}

#poster-image4 {
background: url('/assets/video/thumbnail_StillCreek.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image4 {
  background: url('/assets/video/thumbnail_StillCreek_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image4:hover {
  opacity: 1;
}

#poster-image5 {
background: url('/assets/video/thumbnail_MelroseIN.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image5 {
  background: url('/assets/video/thumbnail_MelroseIN_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image5:hover {
  opacity: 1;
}

#poster-image6 {
background: url('/assets/video/thumbnail_NatDoorways.webp') center center;
background-size: cover;
bottom: 0;
left: 0;
position: absolute;
right: 0;
top: 0;
visibility: visible;
z-index: 10;
height: 100%;
width: 100%;
}

#hover-image6 {
  background: url('/assets/video/thumbnail_NatDoorways_HOVER.webp') center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 11;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

#hover-image6:hover {
  opacity: 1;
}

#portfolio .link {
color: #0f0b0c;
background-color: #fff;
	border-style: solid;
	border-color: #f8d260;
	border-width: 2px;
	padding: 9px 17px;
	border-radius: 25px;
	xletter-spacing: .28em;
	xfont-family: "bebas-neue-pro", sans-serif;
	  font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	cursor: pointer;
}

#portfolio .link:hover {
background-color: #f8d260;
}

#showreel {
 flex-basis: 100%;
 xmin-height: 50vh;
 max-width: 100vw;
 xobject-fit: cover;
}

@media screen and (min-width:950px){
#showreel {
 flex-basis: content;
 min-height: 600px;
  max-height: 100vh;
 }
 #top-wrapper{
 flex-wrap:unset;
   min-height: 100vh;
 }
 #header-intro{
 xflex-basis: 50%;
 min-width: 400px;
 }
 #portfolio-row {
  flex-direction: row;
 }
 #portfolio-row .flex-video {
  padding: 27% 0 0 0;
  cursor: pointer;
 }
}

@font-face {
    font-family: BOOKmanOpti-Light;
    src: url("/assets/fonts/BOOKmanOpti-Light.otf") format("opentype");
}

@font-face {
    font-family: TraditionellSans;
    src: url("/assets/fonts/TraditionellSans.ttf");
}

@font-face {
    font-family: TraditionellSansBold;
    src: url("/assets/fonts/TraditionellSans-Bold.ttf");
}

@font-face {
    font-family: BebasNeueProItalic;
    src: url("/assets/fonts/BebasNeueProItalic.otf") format("opentype");
}


#header-intro {
  font-family: "proxima-nova", sans-serif;
  z-index: 1;
  text-align: center;
  color:#FFF;
  background-color: #FFF;
  padding: 20px;
  padding-bottom: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  overflow: hidden;
}

#header-intro p {
  color: #333;
}

#header-intro h1 {
margin: 0;
padding: 0;
font-weight: 700;
font-style: normal;
}

.line-breaker {
display: inline-block;
}

#header-intro h2 {
xmargin-top: 10px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
max-width: 425px;
padding: 0;
font-weight: 500;
font-style: normal;
font-size: 18px;
}

#header-intro .site-title {
	font-size: 26px;
	display: block;
	line-height: 1;
	color: #302729;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .2em;
}
#header-intro .site-description {
	font-size: 13.5px;
	display: block;
	line-height: 1;
	color: #ab9b8a;
	margin-top: 25px;
	margin-bottom: 24px;
	letter-spacing: .27em;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 400;
	font-style: italic;
}

#header-intro .top{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 25px;
	display: block;
	line-height: 1.8;
	color: #0f0b0c;
	xfont-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	font-family: "proxima-nova", sans-serif;
	xletter-spacing: -.001em;
	letter-spacing: -.05em;
	font-style: italic;
	font-weight: 700;
}

#header-intro .middle{
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content:center;
margin-top: 30px;
margin-bottom: 45px;
margin-left: 10px;
margin-right: 10px;
}


#header-intro .bottom{
margin-top: auto;
margin-bottom: auto;
}

/*.scroll-hint{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    xcontent: '';
    xdisplay: block;
    xposition: absolute;
    top: 0;
    xleft: 0;
    width: 100%;
    height: 200%;
    background-repeat: repeat-y;
    background-image: url(../img/dotted-2.svg);
    animation: a-scrollHint 30s linear infinite;
    overflow: hidden;
    box-sizing: border-box;
}*/

.scroll-hint {
	width: 15px;
	height: 400%;
	background-repeat: repeat-y;
    background-image: url(../img/dotted-2.svg);
	align-self: center;
	margin-top: 40px;
	animation: a-scrollHint .8s linear infinite;
}

@keyframes a-scrollHint {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(15px);
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 13px;
  margin-right: 2px;
}

.header-icons a {
    // no borders
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    padding: none;
    margin: none;
    text-decoration: none;
  }
.header-icons .icon {
    text-align: center;
    color: #ab9b8a;
    width: 0px;
    height: 20px;
    font-size: 14px;
    padding: 5px;
    margin: 0px;
    transition: all .5s;
    border: 0;
    }
    .header-icons:hover {
      color: #ff0000;
      xbackground: #000;
    }
    .header-icons:active {
      color: #ff0000;
      /* background: #000; */
    }
    


@media only screen and (min-width:768px) {
.header-icons .icon {
      width: 0px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      }
}

.header-links .link {
color: #0f0b0c;
background-color: #f8d260;
	border-style: solid;
	border-color: #f8d260;
	border-width: 2px;
	padding: 9px 17px;
	border-radius: 25px;
	xletter-spacing: .28em;
	xfont-family: "bebas-neue-pro", sans-serif;
	  font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	margin-right: 14px;
}

.header-links .link:hover {
background-color: #fff;
}

.header-links .link3 {
	color:#333;
	border-style: solid;
	border-color: #333;
	border-width: 2px;
	padding: 9px 17px;
	border-radius: 25px;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	margin-right: 14px;
	text-decoration: none;
}

.header-links .link3:hover {
color: #fff;
background-color: #333;
}

.header-links .link2 {
	color:#0f0b0c;
	border-style: solid;
	border-color: #f53416;
	border-width: 2px;
	padding: 9px 9px;
	letter-spacing: .28em;
	font-family: "bebas-neue-pro", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	margin-right: 14px;
	text-decoration: none;
}

.header-links .link2:hover {
color: #fff;
background-color: #f53416;
}

.spacera {
margin-top: 1%;
}

@media screen and (min-width:768px){
.spacera {
margin-top: 9%;
}
}

.spacer1 img {
width: 20px;
}

.spacer {
margin-top: 30px;
}

.user-details {
	margin-left: 10%;
	margin-right: 10%;
}

.user-details h2 {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#about {
xmax-width: 10000px;
xbackground-color: #d5d7d5;
width: 100%;
font-family: "proxima-nova", sans-serif;
}

#about h1 {
font-weight: 700;
font-style: normal;
font-size: 35px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
max-width: 500px;
}

#about h2 {
font-weight: 500;
font-style: normal;
font-size: 18px;
margin-top: 0;
max-width: 480px;
}

#about div {
margin-top: 0;
}

#services {
xmax-width: 10000px;
xbackground-color: #d5d7d5;
background-color: #333333;
width: 100%;
font-family: "proxima-nova", sans-serif;
}

#services h1 {
color: #FFF;
font-weight: 700;
font-size: 35px;
font-style: normal;
margin-left: auto;
margin-right: auto;
margin-top: 0;
max-width: 500px;
}

#services h2 {
font-weight: 600;
font-style: normal;
font-size: 18px;
margin-top: 0;
xmax-width: 480px;
}

#services p {
font-weight: 300;
width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

#services div {
margin-top: 0;
}

#icons-container {
  display: flex;
  flex-wrap: wrap;
}

.icons-columnA {
  flex: 46%;
    max-width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #333;
    border-radius: .75rem;
    margin-bottom: 4vw;
    color: #fff;
    border-style: solid;
	border-width: 2px;
	border-color: #fff;
	box-sizing: border-box;
}

.icons-columnA h2 {
    color: #fff;
}

.icons-columnA:hover, .icons-columnA:hover h2 {
	background-color: #333;
	color: #fff;
}

.icons-columnA:hover {
	border-style: solid;
	border-color: #f8d260;
	box-sizing: border-box;
}

.icons-columnB {
  flex: 46%;
    max-width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #333;
    border-radius: .75rem;
    margin-bottom: 4vw;
    color: #fff;
    border-style: solid;
	border-width: 2px;
	border-color: #fff;
	box-sizing: border-box;
}

.icons-columnB h2 {
    color: #fff;
}

.icons-columnB:hover, .icons-columnB:hover h2 {
	background-color: #333;
	color: #fff;
}

.icons-columnB:hover {
	border-style: solid;
	border-color: #f8d260;
	box-sizing: border-box;
}

@media (max-width: 700px) {
.icons-columnA {
    flex: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
.icons-columnB {
    flex: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 950px) {
.icons-columnA {
  flex: 29.335%;
  max-width: 29.335%;
  margin-left: 2%;
  margin-right: 2%;
}

.icons-columnB {
  flex: 29.33%;
  max-width: 29.33%;
  margin-left: 2%;
  margin-right: 2%;
}
}

#services .icon-wrapper {
  margin-top: 30px;
}

#services img {
  vertical-align: middle;
}

#services .icon {
  width: 80px;
}

@keyframes fadeInUpIcons {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up-icons {
  animation: 0.75s both fadeInUpIcons;
}

.service-description {
	display: none;
}

.see-more {
	display: block;
	cursor: pointer;
}

.more-arrow {
	width: 15px;
	margin-left: 5px;
}

.read-more {
	font-weight: 700;
	color: #f8d260;
}

#clients {
font-family: "proxima-nova", sans-serif;
background-color: #fffaeb;
}

#clients p {
  margin-top: 0;
}

#clients h1 {
font-weight: 700;
font-style: normal;
}

#clients h2 {
font-weight: 500;
font-style: normal;
font-size: 18px;
margin-top: 0;
}

#clientcontainer {
 width: 100vw;
 overflow: hidden;
}

#clientlist {
  height: 90px;
  width: 8596px;
}

.clientLogos {
    width: 400%;
	background-repeat: repeat-x;
    background-image: url(../img/clientlogos.webp);
    background-size: 2149px 90px;
	xalign-self: center;
	animation: clientscroll 80s linear infinite;
}

@keyframes clientscroll {
  0% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-6477px);
  }
}


#tagline .top{
	margin-top: 100px;
	text-align: center;
	font-size: 27px;
	display: block;
	line-height: 1;
	color: #374f51;
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	xletter-spacing: -1px;
}

#header .top{
	margin-top: 100px;
	text-align: center;
	font-size: 27px;
	display: block;
	line-height: 1;
	color: #374f51;
	font-family: 'BOOKmanOpti-Light','Montserrat', sans-serif;
	xletter-spacing: -1px;
}

.bgc {
background-color: #FFF;
}

.vjs-big-play-button {
	opacity: 0 !important;
}

.video-js:hover .vjs-big-play-button {
	opacity: 1 !important;
}

.why-video {
  text-align: center;
  margin: 5px auto;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 95%;
  h1 {
    font-weight: 400;
  }
}

.why-video h1 {
    font-size: 150%;
    margin-top: 3em;
}

.why-video a {
color: #302729;
font-weight: 500;
}

.videobox {
display: flex;

flex-wrap: wrap;
justify-content:center;
}
#reel {
width: 100%;
height: 95vh;
}
#reel2 {
 height: calc(50vw);
 padding-top: 28px;
 width: 100%;
}

@media screen and (min-width:1000px){
.videobox {
 flex-wrap:unset;
 max-width: calc(177.777778vh);
 height: calc(34vw);
 }
#reel {
width:23.6%;
padding-right:20px;
height: unset;
}
#reel2 {
 height: 100%;
 padding-top: unset;
 width: calc(100% - 23.6% - 22px);
}
}

.footer {
  background: #333;
}