<!DOCTYPE html>
<link rel="stylesheet" href="../assets/css/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
  <div class="bgc">
      {% include header.html %}
      <section id="clients">
        {% include clients.html %}
      </section>
      <section id="about">
        {% include about.html %}
      </section>
      <section id="services">
        {% include services.html %}
      </section>
      <section id="portfolio">
        {% include portfolio.html %}
      </section>
      {% include footer.html %}
      </div>
  </body>
</html>
